@use "~/assets/colors.scss" as *;
@use "~/assets/responsive.module.scss" as *;

.sectionContainer {
  @include RP(
    (
      "padding-top": 40,
      "padding-bottom": 40,
    ),
    1
  );
  h4 {
    color: $HEADING !important;
  }
}
.partnersRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.partnerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 56px;
  // width: 120px;
  max-width: 100%;
  transition: transform 0.2s;
  opacity: 0.95;

  &:hover {
    transform: scale(1.07);
    opacity: 1;
  }

  svg {
    width: 100%;
    height: 100%;
    // object-fit: contain;
  }
}
